<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <packageSources>
    <add key="NuGet" value="https://nuget.org/api/v2/" />
    <add key="MyGet_ThreeLeggedDuck" value="https://www.myget.org/F/three_legged_duck/" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>
</configuration>